/* Coolors Exported Palette - coolors.co/f2efea-fc7753-66d7d1-403d58-1a181b */

/* HSL */
$lightbeige: hsla(30%, 20%, 98%, 1);
$orange: hsla(13%, 97%, 66%, 1);
$teal: hsla(177%, 59%, 62%, 1);
$darkpurple: hsla(247%, 18%, 29%, 1);
$black: hsla(280%, 6%, 10%, 1);

/* RGB */
$lightbeige: rgba(249, 247, 245, 1);
$orange: rgba(252, 119, 83, 1);
$teal: rgba(102, 215, 209, 1);
$darkpurple: rgba(64, 61, 88, 1);
$black: rgba(26, 24, 27, 1);
