header {
  background: lightgrey;
  height: 60px;
  border-bottom: 2px solid grey;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 10px;
}

.header-link:hover {
  text-decoration: none;
}
.header-link {
  h1 {
    margin-left: 3vw;
  }
}

.ipa {
  font-family: $ipa;
}

.right-nav {
  display: flex;
  justify-content: space-around;
  margin-right: 1vw;
  max-width: 200px;
  width: 33vw;
  font-size: 20px;
}

.greeting-container {
  max-width: 400px;
  width: 33vw;
  align-items: flex-end;
  .greeting {
    margin: 0;
    font-size: 20px;
  }
  #logout-button {
    border: none;
    background: none;
    padding: 0;
  }
}
